* {
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

span {
  padding: 5px;
}

hr {
  border: 0;
  height: 2px;
  background: #f0f0f0;
  margin-top: 40px;
}

button {
  -webkit-appearance: none;
  appearance: none;
}
/*
****************
GRID
****************
*/
.grid {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-center {
  justify-content: center;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*
*****************
TYPOGRAPHY
*****************
*/

h1 {
  font-weight: normal;
  font-size: 1.65em;
  line-height: 1.75em;
  color: #1a1a1a;
  margin-top: 40px;
}

h2 {
  font-weight: normal;
  font-size: 1.65em;
  color: #2a7363;
}

h3 {
  font-weight: bold;
  font-size: 1.125em;
  color: #030304;
  line-height: 22px;
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1em;
  line-height: 18px;
  font-family: 'Montserrat';
  font-weight: normal;
}

ol {
  margin-bottom: 30px;
  list-style-position: inside;
}

li {
  color: #030304;
  font-family: 'Merriweather', serif;
  margin-bottom: 15px;
}

a {
  font-weight: normal;
  font-size: 16px;
  display: inline;
  color: #030304;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: #286dbe;
}

.a-text {
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}

.border {
    border: 2px solid #ccc;
}

p {
  font-family: 'Merriweather';
  font-size: 1em;
  line-height: 2em;
  color: #333;
  margin-bottom: 30px;
}

.caption,
figcaption {
  color: #999;
  font-size: .85em;
  font-family: 'Merriweather';
  font-style: italic;
  display: block;
}

figcaption {
  margin-top: 16px;
}

.contact {
  color: #2a7363;
}

.contactlink {
  color: #2a7363;
}

.contactlink:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.box {
  border-top: 4px solid #1a1a1a;
  color: #1a1a1a;
  padding: 10px 0;
  display: inline-block;
  /*width: 50%;*/
  /*background-color: #eaeaea;*/
}

.homeLink {
  border: 2px solid #78A79D;
  color: #5E9C8E;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 22px;
  margin-top: 60px;
  margin-bottom: 32px;
}

.homeLink:hover {
  color: #1a1a1a;
  border: 2px solid #1a1a1a;
  text-decoration: none;
}

.margin-top-11 {
  margin-top: 11px;
}

.margin-top-60 {
  margin-top: 60px;
}

.merriweather {
  font-family: 'Merriweather';
}

a.merriweather {
  color: #5E9C8E;
}

.normal {
    font-weight: normal;
}

.text-smaller {
    font-size: .8em;
}

.text-larger {
    font-size: 1.25em;
    padding: 0 0 0 5px;
    vertical-align: bottom;
}

/*
*****************
HOMEPAGE BUTTONS
*****************
*/

.homeTab {
  border: 2px solid #78A79D;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #5E9C8E;
  padding: 15px;
  border-radius: 25px;
  margin: 20px;
  opacity: .75;
}

.homeTab:hover {
  color: #1a1a1a;
  border: 2px solid #1a1a1a;
  text-decoration: none;
}

.homeTab-bar {
  background-color: #efefef;
  margin-top: 40px;
}

.homeTab-disabled {
  color: #1a1a1a;
  border: 2px solid #1a1a1a;
  opacity: 1;
  animation: 1s fade-out 1;
  pointer-events: none;
}

.hide {
  display: none;
  animation: 1s fade-out 1;
}

@keyframes fade-out {
  0%   { opacity: .75; }
  100% { opacity: 1; }
}

/*
*****************
GENERAL CLASSES
*****************
*/

.clearfix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
}

.flex-start {
  align-items: flex-start;
}

.readingCol {
  width: 66.6%;
  margin-left: 16.66%;
  padding: 0;
}

.centered {
  width: 66.6%;
  margin-left: auto;
  margin-right: auto;
}

.spacearound {
  justify-content: space-around;
}

/*
*****************
HEADER & INTRO
*****************
*/

header {
  background-color: #50E3C2;
  padding-bottom: 20px;
}

.biopic {
  display: block;
}

.bio {
  border-radius: 50%;
}

.topbio {
  border-radius: 50%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0;
  display: inline-block;
  width: 75%;
}

/*
*****************
PROJECTS
*****************
*/

.projecthome {
    display: block;
    margin-top: 120px;
}

.subprojecth1 {
  margin-bottom: 30px;
  line-height: 1.35em;
}

.projecth1 {
  margin-top: 120px;
  margin-bottom: 30px;
  line-height: 1.35em;
}

.hero {
  display: block;
  margin: 0;
  padding: 0;
}

.spacebetween {
  justify-content: space-between;
}

.projectHeader {
  padding-top: 0px;
  background-repeat: no-repeat;
  background-position: right;
  position: fixed;
  width: 100%;
}

.fonta {
  font-family: 'FontAwesome';
  position: relative;
  top: -2px;
  margin: 0 20px 0 0;
  color: #2a7363;
}

.shorth3 {
  display: inline;
  margin: 0 0 0 15px;
  color: #2a7363;
  position: relative;
  top: -2px;
}

.smallbio {
  display: inline;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 12px;
  width: 40px;
  height: 40px;
}

.noUnderline {
  padding: 25px 25px 21px 25px;
  margin-left: 20px;
}

.noUnderline:hover {
  background-color: rgba(0, 0, 0, 0.12);
  text-decoration: none;
}

.projectNav {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.projectNav a {
  /*color: #fff;*/
  /*background-color: #000;*/
  padding: 5px 10px;
  margin: 2px;
}

.projectNav a:hover {
  text-decoration: none;
  /*background-color: #666;*/
}

.border {
  border: 2px solid #eaeaea;
}

.projectImg {
  padding: 5px;
  box-sizing: border-box;
}

/*
*****************
FOOTER
*****************
*/

footer {
  background-color: #50e3c2;
  padding:30px 0;
}

.icon {
  font-family: 'FontAwesome';
}

.footerh3 {
  margin: 0;
  width: 25%;
}

.contact {
  width: 70%;
}

/*
*******************
SPRINKLE ANIMATION
*******************
*/
.sprinkle {
  width: 20px;
  display: inline-block;
  position: relative;
  -webkit-animation: 1s linear 0s fade_sprinkle;
        animation: 1s linear 0s fade_sprinkle;
}

#sprinkles {
  height: 125px;
}

@-webkit-keyframes fade_sprinkle { from { opacity: 0; } to { opacity: 1; }  }
      @keyframes fade_sprinkle { from { opacity: 0; } to { opacity: 1; }  }


/*
*****************
MEDIA QUERIES
*****************
*/
@media only screen and (max-width: 1050px) {
  .welcome {
    display: none;
  }
}

@media only screen and (max-width: 850px) {

  header {
    /* padding-top: 60px; */
  }

  #name {
    text-align: center;
    font-size: 1.65em;
    margin-top: 20px;
  }

  #mapsection {
    margin-left: 8.33%;
    width: 83.33%;
  }

  .readingCol {
    margin-left: 8.33%;
    width: 83.33%;
  }

  .summary {
    flex-direction: column;
  }

  .bio {
    display: none;
  }

  .topbio {
    display: inline-block;
  }

  .intro {
    margin-left: 0;
    width: 100%;
  }

  #mapDiv {
    height: 375px;
  }

}

@media only screen and (max-width: 850px) {

  .footerh3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px ;
  }

  .contact {
    width: 100%;
  }

  .projectHeader {
    background-size: 50%;
    background-position: 120%;
  }

  li {
    padding-bottom: 10px;
  }

}

@media only screen and (max-width: 550px) {

  .homeLink,
  .box {
    text-align: center;
    display: block;
  }

  #mapDiv {
    height: 200px;
  }

  .projectHeader {
    background-image: none;
    padding-top: 23px;
  }

  .smallbio {
    display: none;
  }

  .projectNav a {
    display: inline;
    width: 50%;
  }

}
